.DS_Store
.idea
*.log
tmp/

# doom gitignore for clojure + github's Leiningen.gitignore
*.class
*.jar
/.cpcache
/.lein-*
/.nrepl-port
/.prepl-port
/checkouts
/classes
/target
pom.xml
pom.xml.asc
profiles.clj
.cpcache/
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.nrepl-port
/checkouts/
/classes/
/lib/
/target/

#dev tools
.clj-kondo/.cache/
.lsp
